@font-face { 
  font-family: Superscript; 
  src: url("../fonts/superscript/SUPERSCR.TTF") format("truetype"); 
} 

@font-face { 
  font-family: Lato-Light; 
  src: url("../fonts/Lato/Lato-Light.ttf") format("truetype"); 
} 

body {
  background-color: #dfff9a;
}

.homepage {
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -50px;
  margin-left: -120px;
}

.title {
  margin: 5px;
  font-family: Superscript, sans-serif;
}

.search-field {
  margin: 5px;
  padding: 1rem;
  border-width: 5px;
  background-color: #EFEFEF;
  border: none;
  width: 13rem;
  font-family: Lato-Light;
}