@font-face { 
  font-family: Lato-Regular; 
  src: url("fonts/Lato/Lato-Regular.ttf") format("truetype"); 
}

p, a {
  font-family: Lato-Regular;
}

.App {
  text-align: center;
}

.list-locations {
  display: flex;
  flex-direction: column;
  height: 250px;
}